@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
      @apply text-4xl;
    }
}

#toggle-switch::after {
  content: '';
  @apply h-6 w-6 rounded-full border-2 bg-orange-400 dark:bg-orange-300 absolute transform scale-110 transition duration-200;
}

#toggle-switch:checked::after {
  @apply transform scale-110 translate-x-6;
}

/* .responsive-padding {
  @apply 2xl:px-[30rem] xl:px-[20rem] lg:px-[10rem] md:px-[5rem] px-[1rem]
  @apply w-[960px] mx-auto
} */

.responsive-width {
  @apply w-full px-10 lg:w-[1050px] mx-auto 
}


/* 
html {
  @apply scroll-p-[67px];
  scroll-padding-top: 75px;
} 
*/

body {
  height: 100vh;
}

/* ----------- SCROLLBAR ------------- */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 100vh; */
  @apply bg-neutral-400/60;
}
.dark ::-webkit-scrollbar-track {
  /* border-radius: 100vh; */
  @apply bg-neutral-700/90;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #919191;
  border-radius: 100vh;
  border: 1px solid white;
}

.dark ::-webkit-scrollbar-thumb {
  @apply border border-neutral-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 1px solid #d16106;
  background: #d16106;
}

/* ----------- SCROLLBAR in Dark ------------- */



/* ---------- for code block ---------- */
pre ::-webkit-scrollbar-track {
  /* border-radius: 100vh; */
  margin: 0 3px 0 3px;
  background: #ffffff00;
}

.dark pre ::-webkit-scrollbar-track {
  /* border-radius: 100vh; */
  margin: 0 3px 0 3px;
  background: #ffffff00;
}

pre ::-webkit-scrollbar-thumb {
  background: #919191;
  border-radius: 100vh;
  border: 1px solid #263238;
}